<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UA Eats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32E564AC1BEBDFC2002D9495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32E564C21BEBDFC3002D9495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32E564CD1BEBDFC3002D9495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
